@import
url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Ranchers', sans-serif;
    background-color: #f1f5f8;
    color: #102a42;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

h4 {
    letter-spacing: 0.1rem;
    line-height: 1.25rem;
    margin-bottom: 0.25rem;
    font-family: 'Ranchers', sans-serif;
    font-size: 2rem;
}

@media screen and (min-width: 800) {
    h2 {
        font-size: 2.5rem;
        line-height: 1rem;
    }   
    body {
        font-size: 1rem;
    }
}

nav {
    background: #fff;
    height: 4rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}



.nav-list li{
    
    letter-spacing: 0.1rem;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem 0.9rem;
    margin: auto;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.nav-item {
    color: #222;
    font-weight: 400;
}

.nav-item:first-child {
    font-family: 'Ranchers', sans-serif;
    font-weight: 600;
    color: white;
}

.nav-item {
    padding: 0.35rem 1.5rem;
}


.nav-item-active .nav-link {
    /* color: white; */
}



.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
}
.nav-center {
    width: 90vw;
    max-width: 620px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-center h4 {
    margin: auto;
    margin-top: 23px;
    color: #00bfff;
    font-size: 20px;
    cursor: pointer;
}

main {
    min-height: calc(100vh - 4rem);
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

.container h2 {
    background: #222;
    color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-hero {
    font-family: 'Ranchers', sans-serif;
    background: transparent;
    color: #222;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    margin-left: 0.3rem;
}

.btn-hero:hover {
    color: #444;
    background: #ADD8E6;
    transform: scale(1.1);
}

/* .nav-links {
    width: 90vw;
    max-width: 620px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.nav-item a{
    color: gray;
    font-weight: bolder;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.01rem;
}

.nav-item-active a {
    color: #222;
    font-weight:bolder;
}